/* This file is for your main application css. */
@import "./phoenix.css";
@import "./open_layers.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
.map--large{
  height: 80rem;
  margin: 2rem auto;
  width: 90rem;
}
.map--small{
  height: 50rem;
  margin: 2rem 0;
  width: 50rem;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-items--show{
  margin: auto;
}
.filter-element{
  margin: 10px 0;
  width: 300px
}
.filter-dropdown--last{
  margin: 0 20px 0 10px;
  width: 300px
}
