<section>
  <%= form_for @conn, Routes.destination_path(@conn, :index), [method: :get, class: "flex-column"], fn f -> %>
    <div>
      <%= select(f, :season, @season_options, prompt: "Choose season", class: "filter-element")%>
    </div>
    <div>
      <%= select(f, :lake, @lake_options,  prompt: "Choose water type", class: "filter-element")%>
    </div>
    <div>
      <%= submit "Search", class: "filter-element"%>
    </div>
  <% end %>
</section>
