<div class="flex" >
  <div>
    <%= link "Create New Destination", to: Routes.destination_path(@conn, :new)%></a>
  </div>
  <div>
    <%= form_for @conn, Routes.destination_path(@conn, :index), [method: :get], fn f -> %>
      <%= select(f, :season, @season_options, prompt: "Choose season", class: "filter-dropdown")%>
      <%= select(f, :lake, @lake_options,  prompt: "Choose water type", class: "filter-dropdown--last")%>
      <%= submit "Search"%>
    <% end %>
  </div>
</div>
